// header
.container{
  padding: 0;
}
.bg-head{
  background-color: hsl(0, 0%, 97%);
}
header{
  .search{
    padding: 15px 0px 10px 0 ;
    input{
      font-size: 1.7rem;
      width:80%;
    }
    button{
      font-size: 1.7rem;
    }
  }
.two.columns{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}
  .logo{
    text-align: center;
  }
  .head_icons{
    display:flex;
    align-items: center;
  }
  ul{
    display:flex;
    align-items: center;
    margin: 0;
    
    li{
      margin: 0;
      list-style: none;
      display: block;
      text-align: center;
      // background-color: red;
      font-size: 1.7rem;
      padding: 0 5px 0;
      form{
        padding: 10px 0 10px 0;
      }
    }      
    i{
      padding: 10px 0 10px 0;
    }
  }
}
// sidebar
aside{
  box-sizing: border-box;
  ul{
    margin: 5px 0 0 0;
    padding: 0 ;
    box-sizing: border-box;
    background-color: hsl(0, 0%, 97%);
    li{
      list-style: none;
      padding: 0 10px 0 15px;
      margin:0 0 10px 0;
      font-size: 1.5rem;
      transform: scale( 1 , 1.2 );
    }
  }
}


footer{
  border-top: inset 1px brown;
  height:1000px;
  width:100%;
  margin-top:20px;
  .container{
    p{
        font-size: 1.4rem;
        padding: 0, auto;
        text-align: center;

        a{
          font-size: 1.5rem;

          &:hover{
            color:black;
          }
        }  
      }
  }
  
   
  .footer_bar{
    
    font-size: 0.8rem;
    margin-bottom:160px;
    text-align: center;
  }
        
}