/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @charset "utf-8";
 @import "skelton";
 @import "bootstrap";
 @import "template";


html{
  font-size:62.5%;
}
$base : #f9f8f6;
//---all---
html{
  background:$base;
  font-family: '游ゴシック', YuGothic, 'メイリオ', Verdana, 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
  body{
    background-color: $base;
  }
}

.top{
  margin:20px 0 0 0;
  p{
    font-size: 1.6rem;
  }
  .row{
    margin-top:50px;
    .one{
      i{
        display: block;
        text-align: center;
        font-size: 7.0rem;
      }
      .description{
        display: block;
        text-align: center;
        margin:10px 0;
      }
    }
  }
  .web_title{
    text-align: center;
    .logo{
      font-size: 16rem;
      text-transform: capitalize;
    }
    
  }
}
.top_p{
  margin:50px 0 0 0 ;
}
.link{
  display: flex;
  a{
    display: block;
    font-size: 1.6rem;
    margin: 0 20px 0 0;
    color: black;
  }
}
