.devise_title{
  margin:10px 0 0 0;
}
.input_table{
  tr{
    th{
      width:25%;
    }
    td{
      .space{
        margin: 0 0 0 10px;
      }
      .text{
        width:50%;
      }
      p{
        padding:0 0 0 10px;
        display: inline;
      }
      .hoge{
        display: block;
      }
      span{
        margin:0 0 0 10px;
      }
    }
  }
}
.remember_flex{
  display: flex;
  .remember{
    display: block;
    margin:0 0 10px 0;
    font-size: 1.4rem;
  } 
  .remember_box{
    margin:5px 10px 10px 0 ;
  }
}
