.devise_title{
  margin:10px 0 10px 0;
  color: black;
  border-bottom: inset 2px black;
  width:90%;
}
.input_table{
  width:90%;
  tr:first-of-type{
    border-top: inset 1px #E1E1E1;
  }
  tr{
    th{
      width:25%;
    }
    td{
      .space{
        margin: 0 0 0 10px;
      }
      .text{
        width:50%;
      }
      p{
        padding:0 0 0 10px;
        display: inline;
      }
      .last_name{
        padding: 0;
      }
      .hoge{
        display: block;
      }
      span{
        margin:0 0 0 10px;
      }
    }
  }
}
.margin_top{
  margin-top: 10px;
}
.remember_flex{
  display: flex;
  .remember{
    display: block;
    margin:0 0 10px 0;
    font-size: 1.4rem;
  } 
  .remember_box{
    margin:5px 10px 10px 0 ;
  }
}
.alert{
  box-sizing: border-box;
  width:90%;
}
.alert-success{
  margin: 10px 0 10px;
}
.delete{
  margin:100px 0 0 0;
}
.edit_member{
  a{
    background-color: #ffffff;
    color: black;
    padding: 4px;
    font-size: 1.6rem;
    border-radius: 10px;
    @media(min-width:769px){
      &:hover{
        color: black;
        text-decoration: none;
        background-color: darken(#ffffff,10%)
      }  
    }
  }
}
// member_show
.flexdiv{
  .profile{
    width:80%;
    .flexname{
      display: flex;
      width:100%;
      p{
        display: block;
        padding: 0 3px 0 0;
        font-size: 1.4rem;
      }
    }
    p{
      font-size: 1.2rem;
    }
  }
  .stats_div{
    width:45%;
    display: flex;
    .stats{
      margin:5px 10px 0 0;
      width:30%;
      flex-wrap: wrap;

      p{
        font-size: 1.4rem;
        color: black;
      }
    }
    @media(min-width:769px){
      a{
        &:hover{
          border-color: black !important;
        }
      } 
    }
  }
  #follow_form{
    margin:0 0 0 10px;
    width:50%;
    form{
      input[type="submit"]{
        width:100%;
      }
    }
  }
}