.flexdiv{
  display: flex;
  flex-wrap: wrap;
  margin: 5px 0 0 0;
  align-items: start;
  .tweet{
    width:48%;
    // height:;
    background-color: #ffffff;
    box-sizing: border-box;
    margin: 5px 2px 5px;
    border-radius: 10px;
    a{
      text-decoration: none;
      color: black;
    }
    .name_link{
      font-size: 1.6rem;
      font-weight: bold;
      display: flex;
      align-items: center; 
      margin: 5px 20px 4px 20px;
      .img_div{
        width: 50px;
        height: 50px;
        margin-right: 5px;
        img{
          max-width:100%;
          max-height:100%;
        }
      }
      p{
        margin:0;
      }
    }
    .show{
      .text{
        p{
          margin:0 auto;
          padding:5px 0 5px;
          max-width: 100%;
          font-size: 1.4rem;
        }
      }
    }
    .show{
      margin: 5px 20px ;
    }
    @media(min-width:769px){
      .name_link{
        &:hover{
          background-color:darken( #ffffff,5%);
          border-radius: 10px;
        }
      }
      .show{
        &:hover{
          background-color: darken(#ffffff,5%);
          border-radius: 10px;
        }
      }
    }
    .day{
      float: right;
      padding:0 10px 0 0;
    }
    .comment{
      padding: 0 0 0 20px;
    }
    .like{
      padding:0 0 0 20px;
      p{
        margin:0;
      }
      i{
        font-size: 1.6rem;
        color: #e0245e;
        margin: 2px 0 7px 0;
      }
    }
  }
  .full_size{
    width:90%;
    .show{
      &:hover{
        background-color: #ffffff;
      }
    }
  }
}
.pagination{
  display: flex;
  align-items: center;
  justify-content: center;
  width:100%;
  span{
    font-size: 1.6rem;
    margin:10px 5px 10px;
    display: block;
  }
}
.btns{
  display: flex;
  p{
    display: block;
    background-color: #ffffff;
    font-size: 1.6rem;
    margin: 5px;
    padding:4px;
    text-decoration: none;
    color: black;
    @media(min-width:769px){
      &:hover{
        background-color: darken(#ffffff,10%);
      }
    }
  }
  a{
    &:hover{
      text-decoration: none;
    }
  }
}
.index{
  i{
    font-size: 1.6rem;
    color: black;
    background-color: #ffffff;
    border-radius: 10px;
    padding:4px;
    margin:10px 5px 0 5px;
    @media(min-width: 769px){
      &:hover{
        text-decoration: none;
        background-color: darken(#ffffff,10%);
      }
    }
  }
}

// new&edit
.page_title{
  font-size: 1.6rem;
  margin:10px 0 0;
}
.field{
  margin:15px 0 0 0;
  label{
    display: block;
  }
}
.back{
  margin:10px 0 0;
  a{
    text-decoration: none;
    color: black;
    padding: 4px;
    background-color: #ffffff;
    @media(min-width:769px){
      &:hover{
        text-decoration: none;
        color: black;

      }
    }
  }
}
.errors{
  margin:10px 0 0;
  h2{
    font-size: 1.6rem;
  }
  ul{
    li{
      list-style: none;
    }
  }
}

// rank
.rank{
  .tweet{
    width:95%;
  }
}

.nofollow_div{
  h3{
    margin:10px 0 ;
  }
  .nofollow{
    margin: 20px 0 5px 0;
  }
  .link_rank{
    a{
      color: black;
    }
  }
  .search{
    input[type="text"]{
      width: 80%;
    }
    input[type="submit"]{
      width: 15%;
    }
  }
}
.show_image{
  .img_div{
    width: 100px;
    height: 100px;
    margin-right: 5px;
    img{
      max-width:100%;
      max-height:100%;
    }
  }
}