// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table{
  font-size: 1.4rem;
  width: 100%;
  
  th,td{
    padding: 4px;
    text-align: left;
  }
}