= form_for(current_member.active_relationships.find_by(followed_id: member.id),
  method: :delete, remote: true) do |f|
  = hidden_field_tag :followed_id, member.id
  = f.submit "フォロー解除", class: "btn unfollowbtn"
